{{define "Succes"}}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Succès</title>
    <link rel="stylesheet" type="text/css" href="/static/style/style_success.css"> <!-- Assurez-vous de lier le fichier CSS -->
</head>
<body>
    <div class="success-container">
        <h1 class="success-message">Formulaire soumis avec succès !</h1>
        <a href="/user/form">Retour au formulaire</a>
    </div>
</body>
</html>
{{end}}
